.sass-cache
db/
/apache-tomcat-6.0.28/
.classpath
.project
.settings/
.springBeans
target
bin
workspace
test-output
.iml
.idea
*.iml
*.ipr
*.iws
*.ids
overlays/
ui/commerce/shop/overlays/
ui/commerce/backoffice/overlays/
overlays/
atlassian-ide-plugin.xml
.DS_Store
.~lock.*.csv*
.~lock.*.xls*
ui/shop/logs/
ui/shop/js-test/test-results.xml
ui/backoffice/logs/
.gradle/
build/
gradle-app.setting
docs/shop-arch-doc/doc/
out/
logs/
coverage-error.log
rebel.xml
*.swp
shop/ui/js-test/libpeerconnection.log

# stuff for modules that use grunt
node_modules
target-grunt
grunt.pid
grunt.log
grunt-maven.json

#  stuff for modules that transpile typescript to packaged-app.js
**/src/web/module
**/src/web/out
**/src/web/test/out
**/ts/**/*.js
**/ts/**/*.js.map
**/typescript/**/*.js.map
**/typescript/**/*.js
**/bower_components
**/.tscache
*.html.ts
tscommand-*.tmp.txt
**/.baseDir.ts
npm-debug.log
.baseDir*

# redis-server
*.rdb
